---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllProjects } from '@/lib/data-utils'

const projects = await getAllProjects()
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

  <section>
    <div class="min-w-full">
      <div class="prose mb-8">
        <p class="mt-0">What's up!</p>
        <p>
          I'm an <strong>AI Engineer</strong> with a solid 5-year track record in
          the <strong>Natural Language Processing</strong> space. Instead of just
          pushing lines of code, I'm all about bridging AI and real-world impact
          to craft user experiences that actually hit different.
        </p>
        <p>
          When I'm not in deep work mode, you'll catch me diving into Science
          papers, exploring new tech stacks, and hunting down best practices to
          level up my engineering game every single day.
        </p>
        <p>
          Just out here trying to stay ahead of the curve and become the best
          version of an engineer possible. No gatekeeping, just pure growth.
        </p>
      </div>

      <h2 class="mb-4 text-2xl font-medium">Featured Projects</h2>
      <div class="flex flex-col gap-4">
        {projects.map((project) => <ProjectCard project={project} />)}
      </div>
    </div>
  </section>
</Layout>
